<div class="hearder-inner">

  <div class="container mb-0 pb-0">

    <div class="navbar navbar-expand-sm navbar-light navbar-rospigliosi">

      <% link_to "index.html", class: "navbar-brand" do %>
        <%= image_tag "logo_or.png" %>
        <!-- https://www.kisspng.com/png-logo-brand-number-1942775/ -->
      <% end %>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to "About", "/about.html", class: "nav-link", id: "nav-color" %>
          </li>
           <li class="nav-item">
            <%= link_to "Servizi", "/services.html", class: "nav-link", id: "nav-color" %>
          </li>
          <li class="nav-item">
            <%= link_to "Pubblicazioni", "/editorials.html", class: "nav-link", id: "nav-color" %>
          </li>
          <li class="nav-item">
            <%= link_to "Contatti", "/contact.html", class: "nav-link", id: "nav-color" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
