---
title: Assaporami - Cibo
---

<div class="banner banner-white bg-white">
  <div class="row align-items-center">
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
      <h2 class="h2-responsive">Catena di fornitura</h2>
      <p>Assaporami opera creando rapporti di stretta collaborazione con i propri fornitori, stimolandoli ad intraprendere insieme percorsi di miglioramento che consentano performance più durature nel tempo, in un’ottica di reciproca crescita e di creazione di valore condiviso. I nostri fornitori vengono valutati secondo dei criteri trasparenti: capacità tecnico/ produttiva relativamente al prodotto/servizio richiesti; affidabilità; qualità del servizio /prodotto; rapporto qualità/prezzo; tempi di evasione ordine; certificazioni di prodotto e/o sistema.
      </p>
    </div>
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
        <%= image_tag "https://res.cloudinary.com/orexibus/image/upload/v1573839098/Assaporami/Cibo/vegetables.jpg", id: "img-services" %>
    </div>
  </div>
</div>

<div class="banner banner-grey">
  <div class="row align-items-center">
    <div class="col-12 col-md-4 kill-padding">
      <%= image_tag "https://res.cloudinary.com/orexibus/image/upload/v1573643728/Assaporami/Index/gallery_piatti.jpg", id: "img-services" %>
    </div>
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
      <h2 class="h2-responsive">La gamma dei piatti</h2>
      <p>In Assaporami, siamo molto attenti al benessere. Per questo motivo proponiamo dei piatti freschi, buoni e sani. Siamo anche molto attenti al rispetto delle persone, alle loro convinzioni e ai loro modo di alimentarsi. I nostri chef propongono un ampia gamma di piatti equilibrati: Piatti per sportivi, vegani, vegetariani, piatti senza glutine, o senza maiale. Le etichette, e le informazioni sul nostro sito, riportano la lista degli ingredienti e degli allergeni. Pensiamo a voi. A tutti voi.</p>
    </div>
  </div>
</div>

<div class="banner banner-white bg-white">
  <div class="row align-items-center">
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
      <h2 class="h2-responsive">Trasparenza</h2>
      <p>Finalmente potete sapere cosa mangiate. Assaporami indica sulle etichette dei suoi piatti tutti gli ingredienti usati per la loro preparazione ma anche il loro apporto energetico e nutritivo. Siete voi a decidere cosa assaporire.
      </p>
    </div>
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
        <%= image_tag "https://res.cloudinary.com/orexibus/image/upload/v1573839810/Assaporami/Cibo/trasparenza.jpg", id: "img-services" %>
    </div>
  </div>
</div>

<div class="banner banner-grey">
  <div class="row align-items-center">
    <div class="col-12 col-md-4 kill-padding">
      <%= image_tag "https://res.cloudinary.com/orexibus/image/upload/v1573840067/Assaporami/Cibo/porzione.jpg", id: "img-services" %>
    </div>
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
      <h2 class="h2-responsive">Porzionato e protetto</h2>
      <p>Fin dall'inizio abbiamo deciso di propore dei piatti bilanciati mono-porzione e imballati. Questa scelta ci permette di assicurare l'integrità igienica dei piatti cucinati ai nostri clienti e rende possibile indicare tutte le informazioni sugli stessi. Questa soluzione offre una grande flessibilità ai dipendenti che possono scegliere quando e dove assaporare il loro piatto preferito.</p>
    </div>
  </div>
</div>

<div class="banner banner-white bg-white">
  <div class="row align-items-center">
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
      <h2 class="h2-responsive">Sostenibilità ambientale</h2>
      <p>Migliorare la qualità della vità dei nostri clienti è una priorità quotidiana ma non si limita ai soli piatti sani serviti. Lavoriamo per ridurre il consumo energetico attraverso l'ottimizzazione dei percorsi di approviggionamento, e privileggiando le filiere corti e i prodotti di stagione. Utilizziamo solo ed esclusivamente imballaggi facilemente biodegradabili e riutilizzabili. Pensiamo al vostro futuro.
      </p>
    </div>
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
        <%= image_tag "https://res.cloudinary.com/orexibus/image/upload/v1573839269/Assaporami/Cibo/sostenabilita.jpg", id: "img-services" %>
    </div>
  </div>
</div>

<div class="banner banner-grey">
  <div class="row align-items-center">
    <div class="col-12 col-md-4 kill-padding">
      <%= image_tag "https://res.cloudinary.com/orexibus/image/upload/v1573839426/Assaporami/Cibo/etica.jpg", id: "img-services" %>
    </div>
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
      <h2 class="h2-responsive">Etica</h2>
      <p>Assaporami si impegna a promuovere, sostenere e realizzare un modello aziendale che mette al centro non solo gli interessi dell’impresa, ma anche quelli di tutti coloro che lavorano con lei ogni giorno andando continuamente alla ricerca di quelle dosi di sostenibilità ambientale, responsabilità sociale, sobrietà e senso del giusto che possono contribuire a creare valore, rispettando le persone.
      </p>
    </div>
  </div>
</div>




