---
title: Olimpia Rospigliosi Agency - Servizi
---

<div class="banner banner-white bg-white">
  <div class="row align-items-center">
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
      <h2 class="h2-responsive">Assaporami on-demand</h2>
      <p>Il pranzo aziendale consegnato in ufficio. Dei piatti saporiti, sani, freschi e bilanciati. Fate beneficiare i vostri dipendenti di prezzi piu dolci. Prendete a carico una parte del pranzo e ricevete una fattura a fine mese: un'astuta soluzione alternativa ai ticket restaurant. Un dash board completo per gestire il vosto account e monitorare le vostre spese.
      </p>
    </div>
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
        <%= image_tag "https://res.cloudinary.com/pimpi1/image/upload/v1561108652/sito/Servizi/1.pressoffice_digitalpr____lb0job.jpg", id: "img-services" %>
    </div>
  </div>
</div>

<div class="banner banner-grey">
  <div class="row align-items-center">
    <div class="col-12 col-md-4 kill-padding">
      <%= image_tag "https://res.cloudinary.com/pimpi1/image/upload/v1561108856/sito/Servizi/2.organizzazioneeventi_qqfcfk.jpg", id: "img-services" %>
    </div>
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
      <h2 class="h2-responsive">Assaporami Corner</h2>
      <p>Assaporami presso i vostri uffici. La soluzione è modulabile secondo le vostre esigenze (pranzo e collazione o solo pranzo) e integrata al vostro arredamento. Lo spazio comprende dei moduli refregerati e un banco per il nostro personale. Una soluzione economica, facile da integrare e pulita.</p>
    </div>
  </div>
</div>

<div class="banner banner-white bg-white">
  <div class="row align-items-center">
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
      <h2 class="h2-responsive">Fresh wall</h2>
      <p>Soluzione versatile, richiede pochissimo spazio. Aperta per l'ora di pranzo. Una soluzione in libero accesso che offre piatti freschi e gustosi in una vetrina refrigerata per un ottima conservazione.
      </p>
    </div>
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
        <%= image_tag "https://res.cloudinary.com/pimpi1/image/upload/v1561108884/sito/Servizi/3.supportocommerciale_fgvjxo.jpg", id: "img-services" %>
    </div>
  </div>
</div>

<div class="banner banner-grey">
  <div class="row align-items-center">
    <div class="col-12 col-md-4 kill-padding">
      <%= image_tag "https://res.cloudinary.com/pimpi1/image/upload/v1561108911/sito/Servizi/4.scouting_wfy4fv.jpg", id: "img-services" %>
    </div>
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
      <h2 class="h2-responsive">Exclusive lunch bag</h2>
      <p>Ricette esclusive per le vostre riunioni piu importanti. 3 gamme di prodotti disponibili: carne, pesce, vegetariano. Passate l'ordine entro due settimane dal vostro special lunch !</p>
    </div>
  </div>
</div>

<div class="banner banner-white bg-white">
  <div class="row align-items-center">
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
      <h2 class="h2-responsive">Power staff meeting</h2>
      <p>L'abbonamento per le vostre riunioni settimanali: La bonta in riunione. Una soluzione unica pensata per i vostri collaboratori.
      </p>
    </div>
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
        <%= image_tag "https://res.cloudinary.com/pimpi1/image/upload/v1561108938/sito/Servizi/5.consulenzadimmagine_ou1kbf.jpg", id: "img-services" %>
    </div>
  </div>
</div>

<div class="banner banner-grey">
  <div class="row align-items-center">
    <div class="col-12 col-md-4 kill-padding">
      <%= image_tag "https://res.cloudinary.com/pimpi1/image/upload/v1561367311/sito/Carousel/6.showroom_wfyeh5.jpg", id: "img-services" %>
    </div>
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
      <h2 class="h2-responsive">Assaporami Event</h2>
      <p>Assieme a voi organizziamo eventi privilegiati per i vostri collaboratori: team-building, break-fast meeting, interventi eco-responsabili, presentazione ricette...
      </p>
    </div>
  </div>
</div>

<div class="banner banner-white bg-white">
  <div class="row align-items-center">
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
      <h2 class="h2-responsive">Assaporami Event</h2>
      <p>Assieme a voi organizziamo eventi privilegiati per i vostri collaboratori: team-building, break-fast meeting, interventi eco-responsabili, presentazione ricette...
      </p>
    </div>
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
        <%= image_tag "https://res.cloudinary.com/pimpi1/image/upload/v1561109704/sito/Servizi/7.digitalmanagement_webpr.jpg", id: "img-services" %>
    </div>
  </div>
</div>


