---
title: Olimpia Rospigliosi Agency - Servizi
---

<div class="banner banner-white bg-white">
  <div class="row align-items-center">
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
      <h2 class="h2-responsive">Press Office & Pr</h2>
      <p>Coordinamento e sviluppo dei rapporti con la stampa corporate e di prodotto, invio di comunicati alle testate cartacee e online più prestigiose di moda, design, lifestyle. Product placement in programmi televisivi, cinema e fotografia.
      </p>
    </div>
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
        <%= image_tag "https://res.cloudinary.com/pimpi1/image/upload/v1561108652/sito/Servizi/1.pressoffice_digitalpr____lb0job.jpg", id: "img-services" %>
    </div>
  </div>
</div>

<div class="banner banner-grey">
  <div class="row align-items-center">
    <div class="col-12 col-md-4 kill-padding">
      <%= image_tag "https://res.cloudinary.com/pimpi1/image/upload/v1561108856/sito/Servizi/2.organizzazioneeventi_qqfcfk.jpg", id: "img-services" %>
    </div>
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
      <h2 class="h2-responsive">Organizzazione eventi</h2>
      <p>Presentazione nuove collezioni, eventi social, press day e mostre. Produzione dell’intero evento, assistendo il cliente in ogni fase di pianificazione e di sviluppo del progetto. Gestione accurata della lista degli invitati per garantire un pubblico adeguato alla campagna.</p>
    </div>
  </div>
</div>

<div class="banner banner-white bg-white">
  <div class="row align-items-center">
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
      <h2 class="h2-responsive">Supporto commerciale</h2>
      <p>Consulenza sul posizionamento di mercato, partecipazione a fiere ed eventi, inserimento in showroom di prestigio e follow up.
      </p>
    </div>
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
        <%= image_tag "https://res.cloudinary.com/pimpi1/image/upload/v1561108884/sito/Servizi/3.supportocommerciale_fgvjxo.jpg", id: "img-services" %>
    </div>
  </div>
</div>

<div class="banner banner-grey">
  <div class="row align-items-center">
    <div class="col-12 col-md-4 kill-padding">
      <%= image_tag "https://res.cloudinary.com/pimpi1/image/upload/v1561108911/sito/Servizi/4.scouting_wfy4fv.jpg", id: "img-services" %>
    </div>
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
      <h2 class="h2-responsive">Scouting di new talents</h2>
      <p>Ricerca di nuovi talents di moda & design, per marchi consolidati e fashion weeks. Appuntamenti mirati per co-branding & partnerships.</p>
    </div>
  </div>
</div>

<div class="banner banner-white bg-white">
  <div class="row align-items-center">
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
      <h2 class="h2-responsive">Consulenza d’Immagine</h2>
      <p>Costruzione dell’immagine e strategia di comunicazione. Ricerca di risorse produttive, distributive e manageriali per rafforzare ed accrescere la notorietà del brand.
      </p>
    </div>
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
        <%= image_tag "https://res.cloudinary.com/pimpi1/image/upload/v1561108938/sito/Servizi/5.consulenzadimmagine_ou1kbf.jpg", id: "img-services" %>
    </div>
  </div>
</div>

<div class="banner banner-grey">
  <div class="row align-items-center">
    <div class="col-12 col-md-4 kill-padding">
      <%= image_tag "https://res.cloudinary.com/pimpi1/image/upload/v1561367311/sito/Carousel/6.showroom_wfyeh5.jpg", id: "img-services" %>
    </div>
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
      <h2 class="h2-responsive">Showroom e Mostre</h2>
      <p>Nel suo ufficio milanese vengono esposte le collezioni di vari stilisti e designers, ed un’ampia parte dello spazio  offre la possibilità di ospitare mostre di arte, moda e design.
      </p>
    </div>
  </div>
</div>

<div class="banner banner-white bg-white">
  <div class="row align-items-center">
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
      <h2 class="h2-responsive">Social Media Management & Web Pr</h2>
      <p>Creazione di contenuti digitali. Comunicazione di prodotto a webzine, blogger, magazine online. Pianificazione della diffusione sui social networks. Attività digitali mirate.
      </p>
    </div>
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
        <%= image_tag "https://res.cloudinary.com/pimpi1/image/upload/v1561109704/sito/Servizi/7.digitalmanagement_webpr.jpg", id: "img-services" %>
    </div>
  </div>
</div>


