---
title: Assaporami - Servizi per mangiare meglio in azienda
---

<div class="banner banner-white bg-white">
  <div class="row align-items-center">
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
      <h2 class="h2-responsive">Assaporami on-demand</h2>
      <p>Il pranzo aziendale consegnato in ufficio. Dei piatti saporiti, sani, freschi e bilanciati. Fate beneficiare i vostri dipendenti di prezzi piu dolci grazie a degli sconti a loro riservati. Prendete a carico una parte del pranzo e ricevete una fattura a fine mese: un'astuta soluzione alternativa ai ticket restaurant. Un dash board completo per gestire il vosto account e monitorare le vostre spese.
      </p>
    </div>
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
        <%= image_tag "https://res.cloudinary.com/orexibus/image/upload/v1573851108/Assaporami/Servizi/group-of-people-making-toast.jpg", id: "img-services" %>
    </div>
  </div>
</div>

<div class="banner banner-grey">
  <div class="row align-items-center">
    <div class="col-12 col-md-4 kill-padding">
      <%= image_tag "https://res.cloudinary.com/orexibus/image/upload/v1573853431/Assaporami/Servizi/corner.jpg", id: "img-services" %>
    </div>
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
      <h2 class="h2-responsive">Assaporami Corner</h2>
      <p>Assaporami presso i vostri uffici. La soluzione è modulabile secondo le vostre esigenze (collazione e pranzo o solo pranzo) e integrata al vostro arredamento. Lo spazio comprende dei moduli refregerati e un banco per il nostro personale. I nostri designer sono pronto ad aiutarvi. Una soluzione economica, facile da integrare e pulita.</p>
    </div>
  </div>
</div>

<div class="banner banner-white bg-white">
  <div class="row align-items-center">
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
      <h2 class="h2-responsive">Assaporami Fresh-wall</h2>
      <p>Soluzione versatile, richiede pochissimo spazio. Aperta per l'ora di pranzo. Una soluzione in libero accesso che offre piatti freschi e gustosi in una vetrina refrigerata per un ottima conservazione.
      </p>
    </div>
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
        <%= image_tag "https://res-console.cloudinary.com/orexibus/thumbnails/transform/v1/image/upload//v1573852912/QXNzYXBvcmFtaS9TZXJ2aXppL2ZyaWRnZQ==/drilldown", id: "img-services" %>
    </div>
  </div>
</div>

<div class="banner banner-grey">
  <div class="row align-items-center">
    <div class="col-12 col-md-4 kill-padding">
      <%= image_tag "https://res.cloudinary.com/orexibus/image/upload/v1573830336/Assaporami/Servizi/lunch_meeting.jpg", id: "img-services" %>
    </div>
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
      <h2 class="h2-responsive">Power staff meeting</h2>
      <p>L'abbonamento per le vostre riunioni settimanali: La bonta in riunione. Una soluzione unica pensata per i giorni di riunioni dei vostri collaboratori.</p>
    </div>
  </div>
</div>

<div class="banner banner-white bg-white">
  <div class="row align-items-center">
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
      <h2 class="h2-responsive">Exclusive lunch bag</h2>
      <p>Ricette esclusive per le vostre riunioni piu importanti. 3 gamme di prodotti disponibili: carne, pesce, vegetariano. Passate l'ordine entro due settimane dal vostro special lunch e stupite i vostri ospiti.
      </p>
    </div>
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
        <%= image_tag "https://res.cloudinary.com/orexibus/image/upload/v1573831189/Assaporami/Servizi/exclusive_bowl.jpg", id: "img-services" %>
    </div>
  </div>
</div>

<div class="banner banner-grey">
  <div class="row align-items-center">
    <div class="col-12 col-md-4 kill-padding">
      <%= image_tag "https://res.cloudinary.com/orexibus/image/upload/v1573825558/Assaporami/Servizi/team-building.jpg", id: "img-services" %>
    </div>
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
      <h2 class="h2-responsive">Assaporami Event</h2>
      <p>Assieme a voi organizziamo eventi privilegiati per i vostri collaboratori: team-building, break-fast meeting, interventi eco-responsabili, presentazione ricette...
      </p>
    </div>
  </div>
</div>

<div class="banner banner-white bg-white">
  <div class="row align-items-center">
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
      <h2 class="h2-responsive">Assaporami Catering</h2>
      <p>Organizziamo colazioni di benvenuto, coffee break, pranzi, cocktail e cene per i vostri eventi aziendali. Stupite i vostri ospiti con dei menu su misura ed un servizio impeccabile.
      </p>
    </div>
    <div class="col-12 col-md-4 offset-md-2 kill-padding">
        <%= image_tag "https://res.cloudinary.com/orexibus/image/upload/v1573826175/Assaporami/Servizi/catering.jpg", id: "img-services" %>
    </div>
  </div>
</div>


